@{
    ViewData["Title"] = "Access Denied";
}
<div class="alert alert-warning mt-3">
    <h4 class="alert-heading">Access denied</h4>
    <p>You don't have permission to view this page.</p>
    <hr />
    <a class="btn btn-secondary" href="/">Go back</a>
</div>
